#id div {
    background-color:black;
    
}

.parrafo {
    font-size: medium;
    font-style: oblique;
    border-radius: 5px;
    background-color: aquamarine;
}

.parrafomedio{
    font-size: x-large;
}

#id{
    text-align: center;
    border-radius: 5px;
    background-color: wheat;
    color: blue;
    font-style: oblique;
}

#iddos{
    text-align: center;
    border-radius: 5px;
    background-color: cornflowerblue;
    font-size: large;
}