body {
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('noche.jpg');
    font-family: Arial, sans-serif;
}

#gral {

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-start; 
}

#FakeTrello {
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(159, 104, 20);
    text-align: center;
    color: rgb(251, 249, 249);
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    
}

.block {    
    background-color: brown;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid black;
    overflow-y: auto;
    cursor: pointer;
}

::placeholder{
    color: #000000;
    font-style: oblique;
}
.inputadd{
    
    border: solid 1px black;
    border-radius: 2px;
    background-color: #6a4343;
}

.TaskName{
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-style: oblique;
}

.Add{
    background-color: rgb(243, 220, 220);
    border-radius: 5px;
    align-items: flex-end;
    justify-content: end;
}

.Add:hover{
    background-color: white;
}

.Tareas {
    
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
}

.Tareas button {
    background-color: rgb(172, 166, 166);
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.Tareas button:hover {
    background-color: rgb(255, 255, 255);
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    backdrop-filter: blur(100px);
    
  }
  
  
  #content {
    color: rgb(255, 255, 255);
    background-color: #242424;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 2px;
    width: 50%; 
  }
  

  .modalClose {
    color: #aaa;
    float:inline-end;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modalClose:hover,
  .modalClose:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  

  .modaladd {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow-y: auto    ; 
    backdrop-filter: blur(100px);
    flex-wrap: nowrap;
  }

  .inputadd{
    width: fit-content;
  }
  
  
  #contentadd {
    color: rgb(255, 255, 255);
    background-color: #242424;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 2px;
    width: 50%; 
  }
  

  .modaladdClose {
    color: #aaa;
    float:inline-end;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modaladdClose:hover,
  .modaladdClose:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  #Titulo{
    color:rgb(249, 247, 245);
    border: solid 2px rgb(255, 255, 255);
    width:fit-content;
    border-radius: 2px;
    background-color: rgb(10, 11, 11);
  }

@media (max-width: 322px) {
    body{
        height: 100vh;
    }
    #gral {
        flex-direction:column;
        align-items: center;
        .block{
            width: 80%;
            .Tareas{
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 322px ) and (max-width:768px) {
    body{
        height: 100vh;
    }
    #gral {
        flex-direction:column;
        align-items: center;

    }
    .block{
        width: 80%;
        .Tareas{
            flex-direction: column;
        }
    }
   
   
}

@media(min-width:768px) {
    body{
        height: 100vh;
    }
    #gral {
        flex-direction:row;
        align-items: center;
    }
    .block{
        width: 25%;
        height: 70vh;
        .Tareas{
            flex-direction: column;
        }
    }

}